@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url("./index.css");

:root{
    --brand1: #4C6EF5;
    --brand2: #364FC7;
    --gray1: #191C1F;
    --gray2: #212529;
    --gray3: #343A40;
    --gray4: #ADB5BD;
    --gray5: #CED4DA;
    --gray6: #EDF2FF;
    --gray7: #F8F9FA;
    --fontDefault: 'Inter', sans-serif;
    --fontWeightTitle1: 600;
    --fontSizeTitle1: 52px;
    --lineHeightTitle1: 140%;
    --fontWeightTitle2: 600;
    --fontSizeTitle2: 40px;
    --lineHeightTitle2: 160%;
    --fontWeightTitle3: 600;
    --fontSizeTitle3: 32px;
    --lineHeightTitle3: 160%;
    --fontWeightText1: 400;
    --fontSizeText1: 20px;
    --lineHeightText1: 150%;
    --fontWeightText2: 400;
    --fontSizeText2: 18px;
    --lineHeightText2: 150%;
    --fontWeightText3: 400;
    --fontSizeText3: 16px;
    --lineHeightText3: 150%;
    --fontWeightText4: 600;
    --fontSizeText4: 16px;
    --lineHeightText4: 150%;
    --inputDefaultBackground: var(--gray1);
    --inputDefaultColor: var(--gray4);
    --inputDefaultBorder: 1px solid var(--gray1);
    --inputPadding: 14px 20px;
    --inputValidBackground: var(--gray3);
    --inputValidColor: var(--gray4);
    --inputValidBorder: 1px solid var(--gray3);
    --inputFocusBackground: var(--gray2);
    --inputFocusColor: var(--gray6);
    --inputFocusBorder: 1px solid var(--brand1);
    --buttonHeight: 60px;
    --buttonPadding: 20px 32px;
    --buttonBrandDefaultBackground: var(--brand1);
    --buttonBrandDefaultBorder: 1px solid var(--brand1);
    --buttonBrandDefalutColor: var(--gray7);
    --buttonBrandHoverBackground: var(--brand2);
    --buttonBrandHoverBorder: 1px solid var(--brand2);
    --buttonBrandHoverColor: var(--gray7);
    --buttonDefaultBorder: 1px solid var(--gray7);
    --buttonDefaultColor: var(--gray7);
}

body{
    font-family: var(--fontDefault);
    display: flex;
    flex-direction: column;
}